@charset "utf-8";
@import url("../webfonts/MPLUS1p_Bold/stylesheet.css");
@import url("../webfonts/MPLUS1p_Regular/stylesheet.css");
@import url("../webfonts/Arvo_Bold/stylesheet.css");
@import url("../webfonts/Montserrat_VariableFont_wght/stylesheet.css");
@import url("../webfonts/LexendDeca_Medium/stylesheet.css");
@import url("../webfonts/LexendDeca_Regular/stylesheet.css");

#menu_checkbox {
    display: none;
}

label {
    position: absolute;
    top: 50px;
    right: 0;
    left: calc(100% - 40px);
    display: block;
    width: 60px;
    height: 60px;
    margin: -30px auto 0 auto;
    cursor: pointer;
    float: right;
}



body header {
    width: calc(100% - 20px);
    height: 50px;
    background-color: #F0F0F0;
    position: fixed;
    margin-left: 0px;
    margin-top: 0px;
    border-bottom-style: solid;
    border-top: 10px solid #090A2D;
    border-left: 10px solid #090A2D;
    border-right: 10px solid #090A2D;
    z-index: 3;
    opacity: 1;
    text-shadow: 0px 0px 0px;
}
body p {
    height: 1100px;
}
label div {
  position: relative;
  width:20px;
  top: 0;
  height: 3px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.1s ease transform, 0.5s ease top, 0.5s ease width,
    0.5s ease right;
 
}


#menu_checkbox:checked + label div:nth-child(1) { top: 4px; transform: rotateZ(45deg);}
#menu_checkbox:checked + label div:nth-child(2) { top: -4px; transform: rotateZ(-45deg);}
#menu_checkbox:checked + label dive:nth-child(3) {display: block ;transition: 0.4s;}
#menu_checkbox:checked + label dive:nth-child(4) {display: block;transition: 0.4s;}
#menu_checkbox:checked + label dive:nth-child(5) {display: block ;transition: 0.4s;}

label dive:hover:nth-child(3) {opacity: 0.8;}
label dive:hover:nth-child(4) {opacity: 0.8;}
label dive:hover:nth-child(5) {opacity: 0.8;}

label dive:hover:nth-child(3) .meniglavni{margin-right:40px;}
label dive:hover:nth-child(4) .meniglavni{margin-right:40px;}
label dive:hover:nth-child(5) .meniglavni{margin-right:40px;}

.meniglavni {
	opacity: 1;
    color: #FFFFFF;
    text-align: right;
    float: right;
    line-height: 100px;
    font-size: 24pt;
    font-family: "MPLUS1p Bold";
    margin-right: 30px;
	transition: 0.3s;
}

.logo {
	height: 50px;
    width: auto;
    opacity: 0.87;
    background-color: #F44236;
}

.padajucii{
    
    width: calc(100% - 40px);
    height: 100px;
    background-color: #090A2D;
    position: fixed;
    margin-left: px;
    top: 62px;
    display: none;
    left: 20px;
    float: none;
    opacity: 0.4;
    -webkit-box-shadow: 0 0px 0 0 #393CC1;
    box-shadow: 0 0px 0 0 #393CC1;
  
    
    
     line-height: 32px;
   
    
    vertical-align: 0;
   transition: 0.5s;
	z-index: -2
}


.card {
	
    width: calc(25% - 8px);
    margin: 4px;
	margin-top: 6px;
    float: left;
    opacity: 1;
    transition: 0.5s;
    padding-right: 0px;
    padding-left: 0px;
}
.card:hover {
    opacity:0.7;
    transition:1s;
}
.card:hover {
    scale:100%;
	transition:0.3s;


}

.cardlarge {
	 width: calc(100% - 8px);
    margin:4px;
	margin-bottom:0px;
    float: left;
    opacity: 1;
    transition: 0.5s;
}

lista {
    overflow-x: hidden;
    
    height: auto;
    position: relative;
    top: 50px;
    float: left;
    margin-top: 0px;
    margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 4px;
    width: calc(100% - 12px);
    

}





@media (max-width: 1920px){
}

@media (max-width: 1440px){
	.card {
         width: calc(33.33333% - 2px);
}

@media (max-width: 1280px){
	.card {
         width: calc(50% - 2px);
	
}

	 
@media (max-width: 768px){
	.card {
         width: 100%;
	}


@media (max-width: 360px){
.card {
    width: 100%;
}

@media (max-width:2000px){

}

