@charset "utf-8";

@import url("OpenSans_Condensed_Light/stylesheet.css");
@import url("OpenSans_Medium/stylesheet.css");
@import url("OpenSans_Light/stylesheet.css");




/* HOME ANIMACIJA */

.homeomot {
	display:block;
	position:relative;
	width:100vw;
	height:100vh;
	
  }
.homelogo{
  display:block;
  position:absolute;
  z-index:0;
  
  width:30vw;
  max-width:500px;
  top:70vh;
  left:50vw;
	padding:5vh;
  transform:translate(-50%, 0)}
   
.homecaption {
      position:sticky;
      display:block;
  max-height:5vh;
      width:100%;
      text-align:center;
  top:55vh;
  }

.naslovna {
  position:sticky;
		top:0;
	width:100vw;
	height:100vh;
  z-index:-2;
  object-fit: cover;
  
}
	


html {
	scroll-behavior: smooth;
  height:auto;
}

canvas {
  position: sticky;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 50vw;
  
}

/* HEADER */


#headerglavni {
  display:;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 50px;
    position: fixed;
    margin-left: 0px;
    border-top: 10px solid #343434;
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid #343434;
    z-index: -3;
}

body p {
    height: 1100px;
    border-top-style: solid;
    border-top-width: 10px;
}

.logo {
    height: 50px;
    width: auto;}




/* Galerija Privju Slika */


.ModalBackground {
	
	backdrop-filter: blur(4px);
    display:none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.ModalContent {
    background-color: #EAEAEA;
    width: 80%;
    height: auto;
    margin: auto;
    padding-right:0px;
    padding-left: 0px;
 
   
}
.ModalBackgroundImage {
    margin:auto;
    max-width: 100%;
    max-height: 100vh;
    display: block;
    object-fit: contain;
    border-bottom: 40px solid #FFFFFF;

   
}
.Text {
    color: #505050;
    font-family: "OpenSans Medium";
    text-align: justify;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 40px;
}
.TextOnBlack {
    color: #DEDEDE;
    font-family: "OpenSans Medium";
    text-align: justify;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 40px;
}

#close {display:none;}
.close {
  float:right;
  opacity:0.5;
 cursor: pointer;
  top:-70px;
  right:-50px;
	position:fixed;
  z-index: 10;
 scale:0.2;
  
}

.close:hover {
   opacity:0.9;
    color: #c8c8c8;
    cursor: pointer;
}





/* Meni i Dugme */


#menu_checkbox {display: none;}
#menu_checkbox_mobil {display: none;}

label {
    position: absolute;
    top: 71px;
    display: block;
    width: 30px;
    height: 20px;
    margin-top: -51px;
    margin-right: auto;
    margin-bottom: 0;
    float: right;
    right: 16px;
}
#buttonmobil {
  display:none;
}
#buttonpc {
  display:block;
}
#menupc{
    position: absolute;
    right: 150px;
    top: -25px;
	opacity:0;
}
#menumobil{  
  display:none;

}
.menumobilpozadina {
  right:-100%;
  display:block;
  backdrop-filter: blur(80px);
  position:fixed;
  width:100%;
  height:80vh;
  margin:auto;
   transition: 0.3s;
  top:60px;
  
}



label div {
 
    position: relative;
    width: 20px;
    top: -500;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    transition: 0.1s ease transform, 0.5s ease top, 0.5s ease width,
    0.5s ease right;
    float: right;
    clear: right;
}


.crte {cursor: pointer;
	opacity:1;}
.crte:hover {opacity:0.8;}



#menu_checkbox:checked + label div:nth-child(1) { top: 4px; transform: rotateZ(45deg);transition: 0.3s;opacity:1}
#menu_checkbox:checked + label div:nth-child(2) { top: -4px; transform: rotateZ(-45deg);transition: 0.3s;opacity:1}
#menu_checkbox:checked + label div2:nth-child(3) {opacity:1;transform: translateY(10px);transition: 0.8s;}
#menu_checkbox:not(:checked) + label div2:nth-child(3) {opacity:0;transform: translateY(-10px);transition: 0.4s;}


#menu_checkbox_mobil:checked + label div:nth-child(1) { top: 4px; transform: rotateZ(45deg);transition: 0.3s;opacity:1}
#menu_checkbox_mobil:checked + label div:nth-child(2) { top: -4px; transform: rotateZ(-45deg);transition: 0.3s;opacity:1}

.meniglavni2 {
	
  color: #FFFFFF;
  float: right;
  font-family: "OpenSans Light";
  top: 10px;
  font-weight: 100;
  text-align: center;
	opacity: 1;
	cursor: pointer;
	text-decoration: none;
}
.meniglavnimobil {
  position:relative;
  display:block;
  width:100%;
  height:100px;
  color: #FFFFFF;
  font-size:30px;
  font-family: "OpenSans Light";
  top: 30%;
  font-weight: 200;
  text-align: center;
	opacity: 1;
	cursor: pointer;
	text-decoration: none;
  opacity:0.8;
transition:0.2s;}
 .meniglavnimobil:hover {
  opacity:1;}
.meniglavni2:hover {
    font-family: "OpenSans light";
	text-align: center;
	opacity: 0.7
}
#homeid {
    right: calc(50% + 88px);
    position: absolute;}
#workid {right:calc(50% + 0px);
	position: absolute;}
#contactid {right:calc(50% - 100px);
	position: absolute;}





/* Galerija */


.card {
    width: 100%;
    margin: auto;
    opacity: 1;
    transition: 0.5s;
    padding-right: 0px;
    padding-left: 0px;
    clear: none;
    overflow: hidden;
    border-width: 0px;
    
}
.slika {
	 width: 100%;
	height:auto
}

.slika:hover {cursor: pointer;
    opacity:0.5;
    transition:1s;
}
.slika:hover {
    scale: 104%;
    transition: 0.4s;
    width: calc(100%-50px);
   }

.slide-in-from-right {
  animation: 1.5s ease-out 0s 1 slideInFromRight forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}


/* Glavne Sekcije Stranice */

.home {
    
    height:100vh;
    position: relative;
    clear: right;
    display: block;
    width: 100%;
    float: left;
    margin-top: 60px;
}
.contact {
  border-top:100px solid ;
    position: relative;
	   height:100vh;
     display: block;
    width: 100%;
    float: left;
    
    background-color:black;
}

.socials {margin-top: 0px; margin-left:20px; margin-right:20px; width:23px; height:auto;} /* Ikonice za drustvene mreze */

lista {      /* Work */
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 2px;
    column-count: 3;
    column-gap: 2px;
    overflow: hidden;
    position: relative;
    float: left;
    margin-top: 0px;
        width: 100%;
    padding-top: 55px;
    display: block;
  background-color:black;
    
}



@media (min-width: 1281px) and (max-width: 1440px){
    lista {
	      column-count: 3;}
      #buttonmobil {display:none}
#buttonpc{display:block}
}

@media (min-width: 769px) and (max-width: 1280px){
	lista {
	      column-count: 2;}
    #buttonmobil {display:none}
#buttonpc{display:block}
}
@media (max-width: 768px){
	.close{right:-100px;}
	lista {
	      column-count: 1;}
  #buttonmobil {display:block}
#buttonpc{display:none}
	.ModalContent {
    background-color: #EAEAEA;
    width: 100%;
}

	
	
